.titlenick{
    color:#61dafb;
}

.inputcolor{
    text-align: center;
}

.title{
    text-align: center;
    color: #61dafb;
}

.labelnome{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.form{
    display: flex;
    flex-direction: column;
}

.nome{
    font-size: 35px;
    height: 50px;
    margin:auto;
    width: 300px;
}

.nick{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.areatexto{
    text-align: center;
}

#top{
    margin-top: 60vh;
}

.areamessages{
    height: 60vh;
    padding-left: 5px;
}

.inputmsg{
    width: 90vw;
    height: 10vh;
    font-size: 25px;
    background-color: #20232a;
}

@media screen and (max-width: 320px) {
    .nick{
        font-size: 25px;
        font-weight: bold;
    }
}